:root {
  --active_color: #ff6b08;
  --main-accent-color: #ffffff;
  --notifying_color: #ff001b;
  --footer-bg-color: #f7f7f7;
  --footer-text-color: #545454;
  --backdrop-color: rgba(0, 0, 0, 0.25);
  --modal-text-color: #8c8c8c;
}
