<div class="adver-kazino">
  <img
    src="./images/advertising/images.png"
    alt=""
    width="20"
    height="20"
    class="close_modal_advertising"
  />
  <a href="https://www.youtube.com/watch?v=K7e3jpYf28I" target="_blank">
    <div class="link-adver-kazino">
      <img
        class="pseudo-close"
        src="./images/advertising/png-clipart-computer-icons-check-mark-x-mark-symbol-miscellaneous-cross.png"
        width="40"
        alt=""
      />
      <img src="./images/advertising/1xbet-300x250-ru.gif" alt="" /></div
  ></a>
</div>
