<footer class="footer">
  <div class="footer__container container">
    <p class="first-line">© 2020 | All Rights Reserved |</p>
    <div class="second-line">
      <span class="second-line__text">Developed with </span>

      <svg class="footer_heart" width="15" height="14">
        <use href="./images/svg/sprite.svg#icon-footer_heart"></use>
      </svg>
      <p class="second-line__text" ></p>
        by
        <span class="modal-link" data-modal-footer-open>GoIT Students</span>
      </p>
    </div>
  </div>
</footer>
