<footer class="footer">
      <div class="footer__container">
        <div class="footer__wrapper">
          <div class="first-line">
            <span class="first-line__text"
              >© 2020 | All Rights Reserved |
            </span>
          </div>
          <div class="second-line">
            <span class="second-line__text">Developed with </span>
            <img class="icon__footer" src="/src/images/footer/footer_heart.svg" alt="littele heart"></svg>
            <span class="second-line__text">by GoIT Students</span>
          </div>
        </div>
      </div>
</footer>