<header class="header header__library">
  <div class="header__container container">
    <nav class="header__navigation">
      <a href="./index.html" class="header__logo link">
        <img
          src="../src/images/header/film.svg"
          class="header__logo_icon"
          alt="logo"
        />
        <h1 class="header__title">Filmoteka</h1>
        <div class="position_premium">
          <p class="add-text-premium">premium</p>
        </div>
      </a>

      <div class="header__buttons_wrapper">
        <a href="./index.html" class="header__btn"
          >HOME
          <!-- <button class="header__btn">HOME</button> -->
        </a>
        <button class="header__btn current-button">MY LIBRARY</button>
      </div>
    </nav>

    <div class="header__library_wrapper">
      <button type="button" class="header__watched_button active-header-button">
        WATCHED
      </button>
      <button type="button" class="header__queue_button">QUEUE</button>
    </div>
  </div>
</header>
