<div class="backdrop is-hidden">
  <div class="modal">
    <button type="button" class="modal-btn-close">
      <svg class="modal-btn-icon" width="30" height="30">
        <use href="./images/svg/sprite.svg#close"></use>
      </svg>
    </button>
    <button class="youtube-btn" data-id="" width="60px" height="40px">
      <svg class="youtube-icon" width="60px" height="40px">
        <use href="./images/svg/sprite.svg#icon-youtube"></use>
      </svg>
    </button>
    <div class="modal-container"></div>
  </div>
</div>
