<div class="backdrop is-hidden">
  <div class="modal">
    <div class="advertising-below">
      <div class="advertising-below__close-icon">
        <img
          src="./images/advertising/png-clipart-computer-icons-check-mark-x-mark-symbol-miscellaneous-cross.png"
          alt=""
          width="20"
        />
      </div>
      <img
        src="./images/advertising/advertising-below.gif"
        alt=""
        width="704"
      />
    </div>
    <button type="button" class="modal-btn-close">
      <svg class="modal-btn-icon" width="30" height="30">
        <use href="./images/svg/sprite.svg#close"></use>
      </svg>
    </button>
    <svg class="youtube-icon">
      <use href="./images/svg/sprite.svg#icon-youtube"></use>
    </svg>
    <div class="modal-container"></div>
  </div>
</div>
