<div class="backdrop_footer visibility-hidden" data-modal-footer>
  <div class="modal_footer">
    <button aria-label="close modal" type="button" class="modal_footer__clous-btn" data-modal-footer-close>
      <svg class="modal_footer__clous-icon" width="14" height="14">
                    <use href="./images/svg/sprite.svg#close"></use>
                </svg>
      </button>
    <h2 class="team_title">Our Team</h2>
    <ul class="team_list">
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset="./images/our-team/sergey-filatyev.webp" type="image/webp" />
          <img
          src="./images/our-team/sergey-filatyev.png"
          alt="team leader"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Sergey Filatyev</h3>
        <p class="team_text">Team Leader</p>
        <a
          href="https://github.com/Sergeyfilatyev"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset="./images/our-team/valerija-likso.webp" type="image/webp" />
          <img
          src="./images/our-team/valerija-likso.png"
          alt="scrum master"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Valerija Likso</h3>
        <p class="team_text">Scrum Master</p>
        <a
          href="https://github.com/valeryLi"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset="./images/our-team/mykola-hrytsaienko.webp" type="image/webp" />
          <img
          src="./images/our-team/mykola-hrytsaienko.png"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Mykola Hrytsaienko</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/nickgric"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset="./images/our-team/anastasia-vishnyakova.webp" type="image/webp" />
          <img
          src="./images/our-team/anastasia-vishnyakova.png"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Anastasia Vishnyakova</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/VishnyaAnastasia"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset="./images/our-team/maksym-kolii.webp" type="image/webp" />
          <img
          src="./images/our-team/maksym-kolii.png"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Maksym Kolii</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/MaksymKolii"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset="./images/our-team/tanya-meleshko.webp" type="image/webp" />
          <img
          src="./images/our-team/tanya-meleshko.png"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Tanya Meleshko</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/Tanya-Meleshko"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset="./images/our-team/anatolii-pismennyi.webp" type="image/webp" />
          <img
          src="./images/our-team/anatolii-pismennyi.png"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Anatolii Pysmennyi</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/Giperion317"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset="./images/our-team/roman-krasnozhon.webp" type="image/webp" />
          <img
          src="./images/our-team/roman-krasnozhon.png"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Roman Krasnozhon</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/KraRo16"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset="./images/our-team/andrey-erokhin.webp" type="image/webp" />
          <img
          src="./images/our-team/andrey-erokhin.png"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Andrey Erokhin</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/AndreyGOIT"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
          <picture>
            <source srcset="./images/our-team/egor-skibnevskiy.webp" type="image/webp" />
            <img
            src="./images/our-team/egor-skibnevskiy.png"
            alt="frontend developer"
            class="team_img"
            width="200"
            />
        </picture>
        <h3 class="teammate">Egor Skibnevskiy</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/Skyhor"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
    </ul>
  </div>
</div>
