<div class="pagination">
    <ul class="pagination__list">
        <!-- <li class="btn prev"><span><i class="left_touch"></i>&#60 Prev</span></li>
        <li class="numb active"><span>1</span></li>
        <li class="numb"><span>2</span></li>
        <li class="dots"><span>...</span></li>
        <li class="numb"><span>4</span></li>
        <li class="numb"><span>5</span></li>
        <li class="dots"><span>...</span></li>
        <li class="numb"><span>7</span></li>
        <li class="btn next"><span>Next &#62<i class="right_touch"></i></span></li> -->
    </ul>
</div>