.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 1;
  pointer-events: all;
  background-color: var(--backdrop-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  padding: 50px 20px 40px 20px;
  border-radius: 5px;
  overflow: auto;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--main-accent-color);
  z-index: 100;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 10px;

  display: flex;
  justify-items: left;

  align-items: center;

  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-btn-close:hover &,
  .modal-btn-close:focus & {
    fill: var(--active_color);
  }
}

.modal-btn {
  width: 110px;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  background-color: transparent;
}

.modal-btn:active {
  scale: 0.95;
}
.movie-cover {
  width: 240px;
  height: 360px;
  border-radius: 5px;
}

.movie-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 0.83;
  padding-top: 20px;
  padding-bottom: 20px;
}
.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--modal-text-color);
  padding-bottom: 8px;
}
.movie-votes {
  padding-left: 38px;
}
.movie-rating {
  background-color: var(--active_color);
  border-radius: 5px;
  padding: 2px 2px 0 2px;
  color: var(--main-accent-color);
}
.movie-popular {
  padding-left: 44px;
}
.org-title {
  padding-left: 30px;
}
.movie-genre {
  padding-left: 68px;
}

.back-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(0, 0, 0, 1);
}
.back-info-text {
  line-height: 1.33;
}

.about-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  padding-top: 20px;
  padding-bottom: 8px;
}

.movie-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}
.modal-btns-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.current-btn {
  background-color: var(--active_color);
  border-color: transparent;
  color: var(--main-accent-color);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.youtube-icon {
  position: absolute;
  top: 42px;
  fill: #ff0000;
  width: 50px;
  height: 50px;
}

@media screen and(max-width: 767px) {
  .modal {
    height: 100%;
  }
}
@media screen and(min-width: 768px) {
  .modal {
    width: 704px;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 30px;
    padding-right: 30px;
  }

  .movie-card {
    display: flex;
    justify-content: space-between;
  }
  .movie-cover {
    margin-right: auto;
    margin-left: auto;
    min-width: 264px;
    height: 370px;
  }
  .movie-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 70px;
  }
  .watched {
    margin-right: 15px;
  }
  .modal-btns-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
  }

  .modal-btn {
    width: 125px;
  }

  .movie-title {
    padding-top: 0;
  }
}
@media screen and(min-width:1024px) {
  .modal {
    width: 810px;
  }
  .movie-cover {
    min-width: 280px;
    height: 398px;
  }

  .movie-info {
    padding-left: 16px;
    height: 300px;
  }

  .modal-btns-wrapper {
    position: absolute;
    right: 24%;
    bottom: 20%;
  }

  .modal-btn {
    width: 136px;
  }
} ;
