.backdrop.is-hidden {
  // transform: scale(0);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--backdrop-color);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  padding: 50px 20px 40px 20px;
  overflow: auto;
  transform: translate(-50%, -50%);
  
  z-index: 101;
  overflow-y: auto;

  transform: translate(-50%);
  transition: transform 250ms linear, opacity 250ms linear,
    visibility 250ms linear;
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 10px;

  display: flex;
  justify-items: left;

  align-items: center;

  width: 30px;
  height: 30px;
  border: none;
  background-color: tomato;
  color: black;
}
.modal-btn-icon {
  fill: rgba(0, 0, 0, 1);
}
.modal-btn {
  width: 110px;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  background-color: transparent;
}

.modal-btn:active {
  scale: 0.95;
}
.movie-card {
  padding-top: 50px;
}
.movie-cover {
  width: 240px;
  height: 360px;
}

.movie-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 0.83;
  padding-top: 20px;
  padding-bottom: 20px;
}
.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--modal-text-color);
}
.movie-votes {
  padding-left: 40px;
}
.movie-rating {
  background-color: var(--active_color);
  border-radius: 5px;
  color: var(--main-accent-color);
}
.movie-popular {
  padding-left: 44px;
}
.org-title {
  padding-left: 30px;
}
.movie-genre {
  padding-left: 68px;
}

.back-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(0, 0, 0, 1);
}
.back-info-text {
  line-height: 1.33;
}

.about-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  padding-top: 20px;
  padding-bottom: 8px;
}

.movie-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}
.modal-btns-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.current-btn {
  background-color: var(--active_color);
  border-color: transparent;
  color: var(--main-accent-color);
}

@media screen and(max-width: 767px) {
  .modal {
    height: 100%;
  }
}
@media screen and(min-width: 768px) {
  .modal {
    width: 700px;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 30px;
    padding-right: 30px;
  }

  .movie-card {
    display: flex;
    justify-content: space-between;
  }
  .movie-cover {
    margin-right: auto;
    margin-left: auto;
    min-width: 264px;
    height: 370px;
  }
  .movie-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 70px;
  }
  .watched {
    margin-right: 15px;
  }
  .modal-btns-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
  }

  .movie-title {
    padding-top: 0;
  }
}
@media screen and(min-width:1024px) {
  .modal {
    width: 810px;
  }
  .movie-info {
    padding-left: 16px;
  }
} ;
