.backdrop.is-hidden {
    // transform: scale(0);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
   width: 100%;
   height: 100%;
   padding: 20px;
    background-color: var(--backdrop-color);
}
.modal{
    position:fixed;
    top:50%;
    left:50%;
    padding-right: 20px;
    padding-left: 20px;
    height: 600px;
    transform:translate(-50%, -50%);
    background-color: var(--main-accent-color);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform 250ms linear,
    opacity 250ms linear,
    visibility 250ms linear;
   

@media screen and(max-width: 479px) {
    width: 280px;
    height: 940px;
    } 

 @media screen and(min-width: 768px){
    width: 704px;
    height: 550px;
 }
}


.modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.modal-btn {
    display: flex;
    justify-content:space-between;
    align-self: flex-end;

    width: 110px;
    height: 44px;
    padding-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;

}