.footer {
  background: #f7f7f7;
  padding-top: 29px;
  padding-bottom: 29px;
}
.footer__container {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.first-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.second-line {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    gap: 5px;
    justify-content: center;
  }
  .first-line {
    margin-bottom: 0;
  }
}
