.header__home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../src/images/header/header_img_Mob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../src/images/header-library/header_library_Mob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: column;

  padding-top: 40px;
  padding-bottom: 45px;
}

.header__navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 54px;
}

.header__buttons_wrapper {
  display: flex;
  gap: 39px;
}

.header__btn {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

.header__search {
  text-indent: -1200px;
  overflow: hidden;
  width: 20px;
  border: none;
  background: transparent url(../src/images/header/search.svg) no-repeat right;
  border-bottom: 0.5px solid #ffffff;
  cursor: pointer;
}

.header__search_wrapper {
  display: flex;
  flex-direction: column;
}

.header__form {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.header__input {
  width: 100%;
  color: #ffffff;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  background-color: transparent;
  margin-bottom: 16px;
}

.header__input:focus {
  outline: none;
}

.header__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.header__input:-webkit-autofill,
.header__input:-webkit-autofill:hover,
.header__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

.header__title {
  display: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

.header__error {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ff001b;
}

.current-button {
  border-bottom: 3px solid #ff001b;
}

.header__library_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 18px;
  margin-bottom: 15px;
}

.header__watched_button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 130px;
  height: 44px;
  padding: 14px 36px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.header__queue_button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 130px;
  height: 44px;
  padding: 14px 36px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.active-header-button {
  background: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: none;
}

.theme{
  position: absolute;
  right: 8px;
  bottom: 8px;
  
}

.theme-btn-light{
  // position: absolute;
  // bottom: 8px;
  // right: 8px;
  width: 60px;
  height: 40px;
}

.theme-btn-dark {
  // position: absolute;
  // bottom: 8px;
  // right: 8px;
  width: 60px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .header__home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)),
      url('../src/images/header/header_img_Tabl.jpg');
  }

  .header__library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../src/images/header-library/header_library_Tabl.jpg');
  }

  .header__navigation {
    margin-bottom: 40px;
  }

  .header__search_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__input {
    width: 370px;
    margin-bottom: 20px;
  }

  .header__title {
    display: block;
  }

  .header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .header__library_wrapper {
    gap: 32px;
    margin-top: -14px;
  }

  .header__watched_button {
    width: 152px;
    height: 44px;
  }

  .header__queue_button {
    width: 152px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .header__home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)),
      url('../src/images/header/header_img_Desc.jpg');
  }

  .header__library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../src/images/header-library/header_library_Desc.jpg');
  }

  .header__input {
    width: 430px;
    margin-bottom: 16px;
  }

  .header__library_wrapper {
    margin-top: 0;
    gap: 16px;
  }

  .header__watched_button {
    width: 148px;
    height: 42px;
  }

  .header__queue_button {
    width: 148px;
    height: 42px;
  }
}
